mixin sExpertise(data)
	// start sExpertise
	+b.SECTION.sExpertise.section#sExpertise&attributes(attributes)
		.container
			+b.section-title
				h2 Название проекта, может быть коротким, в одну строку, или в две или даже в три строки.
			+form-wrap
				+e.title Оцените проекты номинантов по следующим критериям и напишите короткое резюме (до 500 знаков)
				+e.item
					mixin question(title,clarify,radio)
						.row
							.col-6
								+e.item-title!= title
								if clarify
									+e.item-clarify!= clarify
							.col-6
								+in-c('radio','Да')
								+in-c('radio','Нет')
								if block
									block
				+e.item
					+question('Есть&nbsp;ли у&nbsp;проекта/управленческого решения комплексный подход к&nbsp;реализации и&nbsp;достижению поставленной цели?','approach')
				+e.item
					+question('Есть&nbsp;ли у&nbsp;проекта/управленческого решения социальная значимость?')
				+e.item
					+question('Проект/управленческое решение подразумевает устойчивую долгосрочную потребность в&nbsp;результате реализации?', '(Проект/решение может быть реализовано единожды или многократно?)')
				+e.item
					+question('Направлен&nbsp;ли проект/управленческое решение на&nbsp;повышение качества жизни граждан?')
				+e.item
					+question('Может&nbsp;ли проект/управленческое решение быть масштабируемым и&nbsp;тиражируемым? <span>(например, для других регионов или элементов системы муниципального самоуправления)</span>')
				+e.item
					+e.item-title Пожалуйста, составьте короткое резюме о&nbsp;проекте/управленческом решении, ориентируясь на&nbsp;примеры ниже:
					.row
						.col-6
							+e.list-title Примеры: 
							ul
								li Проект/решение отвечает потребностям граждан/территории (или не&nbsp;соответствует потребностям по&nbsp;причине)
								li Проект/решение является социально значимой инициативой(или не&nbsp;является таковой по&nbsp;причине...)
								li Проект/решение представляет собой уникальную механику реализации (или не&nbsp;представляет, так как аналогичные решения уже есть). 
								li Проект/решение подразумевает содействие/активное участие/интерес населения (или не&nbsp;подразумевает такового по&nbsp;причине...).
						.col-6
							+e.list-title Примеры: 
							ul
								li Проект/решение будет полезно для следующих аудиторий/слоёв населения: жители всей России/жители отдельных городов ...&nbsp;/ жители федеральных округов ... (другое)
								li Проект/решение является универсальным (может быть внедрёно не&nbsp;только в&nbsp;муниципалитетах, но&nbsp;и&nbsp;в&nbsp;больших городах) или не&nbsp;является таковым по&nbsp;причине... 
								li Проект/решение соответствует принципам устойчивого развития ESG (или не&nbsp;соответствуетв&nbsp;силу...)
					+e.item-title--textarea Ваше резюме о номинанте (до 500 символов, но не менее 150):
					+input('','textarea')
					+e.btn.btn.btn-gold.BUTTON ОТПРАВИТЬ
	// end sExpertise