mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row
				.row
					.col-md
						span Организатор
						+e.logo-wrap(href="#")
							+img('img/svg/logo-varmsu.svg')
					.col-md-auto
						span Контакты
						+e.mail(href="mailto:support@spremia.ru") support@spremia.ru
			+e.bottom-row.row
				.col-md.order-last.order-md-first
					span Премия Служение 2023 ©
				.col-md-auto
					+e.link(href="#") Политика конфиденциальности
					+e.link(href="#") Публичная оферта