:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}

.f-button.is-close-btn {
	background-color: #fff !important;
	width: rem(29);
	height: rem(29);
	background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='28.4821' width='40.2798' height='0.732359' transform='rotate(-45 0 28.4821)' fill='%23515151'/%3E%3Crect x='0.519531' y='5.34058e-05' width='40.2798' height='0.732359' transform='rotate(45 0.519531 5.34058e-05)' fill='%23515151'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	top: rem(20) !important;
	right: rem(20) !important;
	svg {
		display: none;
	}
}

.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(500);
	// min-height: 100%; 
	padding: 40px;
	&--project {
		padding: rem(20);
		max-width: rem(1310);
		width: auto;
		@include media-breakpoint-up(lg){
			padding: rem(57) rem(52);
		}
	}
	&__title {
		font-size: rem(24);
		font-weight: 700;
		&--project {
			color: $primary;
			margin-bottom: rem(50);
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}
	}
	&__descr {
		margin-bottom: rem(50);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(146);
		}
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	&__term {
		margin-bottom: rem(8);
		font-size: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(24);
		}
	}
	&--winner {
		width: rem(1310);
		padding: rem(25);
		@include media-breakpoint-up(lg) {
			padding: rem(57) rem(52);
		}
		.row {
			--bs-gutter-x: #{rem(56)};
			--bs-gutter-y: #{rem(64)};
		}
		.modal-win {
			&__col {
				@include media-breakpoint-up(lg) {
					width: calc(rem(333) + var(--bs-gutter-x));
				}
			}
			&__title {
				color: $gray-900;
				font-size: rem(16);
				line-height: normal;
				font-weight: 400;
				margin-bottom: rem(7);
				@include media-breakpoint-up(lg) {
					font-size: rem(20);
					margin-bottom: rem(23);
				}
			}
			&__placement {
				.h4 {
					max-width: rem(266);
					margin-bottom: rem(20);
					@include media-breakpoint-up(lg) {
						margin-bottom: rem(42);
					}
				}
			}
			&__place {
				border-top: 3px solid $gray-900;
				padding-top: rem(18);
				display: flex;
				align-items: center;
				color: $gold;
				font-size: rem(20);
				font-weight: 700;
				line-height: normal;
				img {
					flex: 0 0 auto;
					width: 100%;
					max-width: rem(63);
					margin-right: rem(45);
				}
			}
			&__content {
				.h4 {
					max-width: rem(266);
					margin-bottom: rem(20);
					@include media-breakpoint-up(lg) {
						margin-bottom: rem(42);
					}
				}
				.wrap {
					border-top: 3px solid $gold;
					border-bottom: 3px solid $gold;
					padding-top: rem(21);
					padding-bottom: rem(27);
					margin-bottom: rem(27);
					@include media-breakpoint-up(lg) {
						padding-top: rem(34);
						padding-bottom: rem(52);
						margin-bottom: rem(52);
					}
					p {
						margin-bottom: rem(20);
						@include media-breakpoint-up(lg) {
							margin-bottom: rem(25);
						}
						&:last-of-type {
							margin-bottom: rem(31);
							@include media-breakpoint-up(lg)  {
								margin-bottom: rem(55);
							}
						}
					}
				}
			}
			&__img-wrap {
				@include block(1,1);
				width: 100%;
				max-width: rem(150);
				border-radius: 50%;
				overflow: hidden;
				background-color: #C4C4C4;
				margin-bottom: rem(31);
				@include media-breakpoint-up(lg) {
					margin-bottom: rem(26);
					max-width: rem(200);
				}
			}
			&__text {
				font-size: rem(16);
				font-weight: 400;
				line-height: normal;
				max-width: rem(169);
				p {
					margin-bottom: 0 !important;
				}
				// margin-bottom: rem(27);
				// @include media-breakpoint-up(lg) {
				// 	margin-bottom: rem(52);
				// }
			}
		}
		ul {
			list-style-type: none;
			margin-bottom: 0;
			margin-top: rem(-27);
			@include media-breakpoint-up(md) {
				columns: 3;
				margin-top: rem(-42);
			}
			li {
				margin-top: rem(27);
				display: inline-block;
				max-width: 100%;
				@include media-breakpoint-up(md) {
					margin-top: rem(42);
				}
			}
			p {
				font-size: rem(16);
				font-weight: 400;
				line-height: normal;
				margin-bottom: 0;
				max-width: rem(169);
			}
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}