@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-nominates-1 {
	$h: 137;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(128 / #{$h} *1em );
}
.iconC-nominates-2 {
	$h: 125;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(139 / #{$h} *1em );
}
.iconC-sContact-icon-1 {
	$h: 90;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(120 / #{$h} *1em );
}
.iconC-sContact-icon-2 {
	$h: 90;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(120 / #{$h} *1em );
}
.iconC-sContact-icon-3 {
	$h: 90;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(120 / #{$h} *1em );
}
.iconC-sContact-icon-4 {
	$h: 90;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(120 / #{$h} *1em );
}
.iconC-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
