@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-chevron-left {
	$h: 64;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(35 / #{$h} *1em );
}
.icon-chevron-right {
	$h: 64;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(35 / #{$h} *1em );
}
.icon-circle-right {
	$h: 41;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(41 / #{$h} *1em );
}
.icon-clip {
	$h: 20;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(21 / #{$h} *1em );
}
.icon-down-arrow {
	$h: 28;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(51 / #{$h} *1em );
}
.icon-edit {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(23 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-lk {
	$h: 29;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(26 / #{$h} *1em );
}
.icon-next-arrow {
	$h: 94;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(50 / #{$h} *1em );
}
.icon-pencil {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(23 / #{$h} *1em );
}
.icon-plus {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(23 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
