// start .headerBlock
.headerBlock {
	--sPT: #{rem(26)};
	--sPB: #{rem(43)};
	// --sTPB: #{rem()}; 
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	padding-top: calc(rem(75) + var(--sPT));
	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	display: block;
	// 	width: calc(100% - rem(2));
	// 	height: calc(100% - rem(2));
	// 	top: rem(1);
	// 	left: rem(1);
	// 	z-index: -1;
	// }
	background-color: #be9965;
	// & > picture {
	// 	background-color: #fff;
	// }
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(160)};
		--sPB: #{rem(137)};
	}
	// .picture-bg {
	// 	margin-top: rem(-75);
	// 	height: calc(100% + rem(75));
	// }
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	h1 {
		font-size: rem(30);
		font-weight: 700;
		color: #fff;
		// margin-bottom: rem(20);
		@include media-breakpoint-up(md) {
			font-size: rem(50);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(68);
		}
		@include media-breakpoint-up(xl) {
			font-size: rem(78);
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(100);
		}
		picture {
			display: inline;
		}
		img {
			width: 100%;
			border-radius: rem(50);
			object-fit: cover;
			max-width: em(80);
			&.text-img-2 {
				max-width: em(68);
				@include media-breakpoint-up(md) {
					max-width: em(144.5);
				}
			}
		}
	}
	&__text {
		font-size: rem(16);
		line-height: 1.35;
		color: #fff;
		margin-bottom: rem(48);
		@include media-breakpoint-up(md) {
			font-size: rem(20);
		}
		@include media-breakpoint-up(lg) {
			max-width: rem(446);
			margin-left: auto;
			margin-top: rem(-75);
			margin-bottom: 0;
		}
		@include media-breakpoint-up(xl) {
			max-width: rem(476);
		}
		@include media-breakpoint-up(xxl) {
			margin-top: rem(-83);
			margin-right: rem(180);
		}
	}
	&__wrap {
		color: #fff;
		margin-top: rem(48);
		@include media-breakpoint-up(lg) {
			max-width: rem(551);
			margin-left: auto;
			margin-top: rem(98);
		}
		.icon {
			font-size: rem(41);
			margin-bottom: rem(18);
			fill: none;
			stroke: currentColor;
			stroke-width: rem(1);
		}
		p {
			font-size: rem(16);
			margin-bottom: 0;
			line-height: 1.37;
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock