mixin sSupervisory(data)
	// start sSupervisory
	+b.SECTION.sSupervisory.bg-wrap.section#sSupervisory&attributes(attributes)
		picture.picture-bg
			source(media="(min-width: 768px)", srcset="img/sSupervisory-img-1.png")
			img(src='img/sSupervisory-img-1-sm.png').object-fit-js
		.container
			+b.section-title
				.h6 Наблюдательный совет
			mixin slide(img)
				+e.slide.swiper-slide
					+e.item
						+e.img-wrap
							+img(`img/${img}`, 'bg')
						.h6 Кириенко С.В.
						p Первый заместитель Руководителя
						p Администрации президента
						p Российской Федерации 
			+e.swiper(data-centered=true).swiper.def-slider-js
				.swiper-wrapper
					+slide('sSupervisory-person-1.jpg')
					+slide('sSupervisory-person-2.jpg')
					+slide('sSupervisory-person-1.jpg')
					+slide('sSupervisory-person-2.jpg')
					+slide('sSupervisory-person-1.jpg')
					+slide('sSupervisory-person-2.jpg')
					+slide('sSupervisory-person-1.jpg')
					+slide('sSupervisory-person-2.jpg')
					+slide('sSupervisory-person-1.jpg')
					+slide('sSupervisory-person-2.jpg')
					+slide('sSupervisory-person-1.jpg')
					+slide('sSupervisory-person-2.jpg')
				+arrow
				.swiper-pagination
	// end sSupervisory