mixin sSupervisory(data)
	// start sSupervisory
	+b.SECTION.sSupervisory.bg-wrap.section#sSupervisory&attributes(attributes)
		picture.picture-bg
			source(media="(min-width: 768px)", srcset="img/sSupervisory-img-1.png")
			img(src='img/sSupervisory-img-1-sm.png').object-fit-js
		.container
			+b.section-title
				.h6 Наблюдательный совет
			mixin slide(img)
				li.sSupervisory__slide.splide__slide
					+e.item
						+e.img-wrap
							+img(`img/${img}`, 'bg')
						.h6 Кириенко С.В.
						p Первый заместитель Руководителя
						p Администрации президента
						p Российской Федерации 
			+e.swiper.splide.def-slider-js(data-centered=true)
				.splide__track
					ul.splide__list
						+slide('sSupervisory-person-1.jpg')
						+slide('sSupervisory-person-2.jpg')
						+slide('sSupervisory-person-1.jpg')
						+slide('sSupervisory-person-2.jpg')
						+slide('sSupervisory-person-1.jpg')
						+slide('sSupervisory-person-2.jpg')
						+slide('sSupervisory-person-1.jpg')
						+slide('sSupervisory-person-2.jpg')
						+slide('sSupervisory-person-1.jpg')
						+slide('sSupervisory-person-2.jpg')
						+slide('sSupervisory-person-1.jpg')
						+slide('sSupervisory-person-2.jpg')
				+arrow
				.swiper-pagination
	// end sSupervisory