mixin sNominations(data)
	// start sNominations
	+b.SECTION.sNominations.section#sNominations&attributes(attributes)
		.container
			+b.section-title
				.h6 Номинации
			+ddGroup
				+ddGroupItem('Мой край — моя гордость')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Малая Родина — сила России')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Защита Отечества — общее дело')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Практики муниципалитета — решения для страны')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Объединяя усилия — умножаем возможности')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Инициатива каждого — общий успех')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Прямой разговор — доверие к власти')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Опыт наставника — успех молодых')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Новые технологии — новые возможности')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Судьба человека — гордость Отечества', '', 'Специальная номинация')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
	// end sNominations