mixin sNominations(data)
	// start sNominations
	+b.SECTION.sNominations.section#sNominations&attributes(attributes)
		.container
			+b.section-title
				.h6 Номинации
			+ddGroup
				+ddGroupItem('Мой край&nbsp;&mdash; моя гордость')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Малая Родина&nbsp;&mdash; сила России')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Защита Отечества&nbsp;&mdash; общее дело')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Практики муниципалитета&nbsp;&mdash; решения для страны')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Объединяя усилия&nbsp;&mdash; умножаем возможности')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Инициатива каждого&nbsp;&mdash; общий успех')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Прямой разговор&nbsp;&mdash; доверие к&nbsp;власти')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Опыт наставника&nbsp;&mdash; успех молодых')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Новые технологии&nbsp;&mdash; новые возможности')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
				+ddGroupItem('Судьба человека&nbsp;&mdash; гордость Отечества', '', 'Специальная номинация')
					p За&nbsp;проекты, направленные на&nbsp;популяризацию края, создание уникального образа территории, развитие туризма и&nbsp;культуры.
	// end sNominations