mixin sNomination(data)
	// start sNomination
	+b.SECTION.sNomination.section#sNomination&attributes(attributes)
		.container
			+e.header-row
				+b.section-title
					h2 Мой край&nbsp;&mdash; моя гордость
				+e.text
					p За&nbsp;проекты, направленные на&nbsp;популяризацию муниципального образования, создание уникального образа территории
					+e.btn.btn.btn-secondary(href="#") Подать заявку
				+e.next-link(href="#")
					+e.text-link.d-block.d-lg-none Следующая номинация
					+icon('next-arrow')
			mixin item(title)
				+e.item
					.row
						.col
							+e.item-title!= title 
						+e.col.col-lg-7
							block
			+item('критерии номинации')
				+e.item-link(href="#" download)
					+iconC('nominates-1')
					| Скачать файл
					+icon('down-arrow')
			+item(`инструкция к&nbsp;подачи заявки`)
				+e.item-link--instr(href="#" download)
					+iconC('nominates-2')
					| Скачать файл
					+icon('down-arrow')
			+item('Партнеры номинациИ')
				+e.item-links.row
					.col-6.col-md-4
						+partnerItem
					.col-6.col-md-4
						+partnerItem('sPartners-logo-1.svg')
					.col-6.col-md-4
						+partnerItem('sPartners-logo-2.svg')
					.col-6.col-md-4
						+partnerItem
			//- +e.item
			//- 	+e.item-title инструкция к подачи заявки
			//- +e.item
			//- 	+e.item-title--partners 
			+rating('Шорт-лист (Топ-10) в регионе')
	// end sNomination