// start .sApplications
.sApplications {
	--sPT: #{rem(23)};
	--sPB: #{rem(42)};
	--sTPB: #{rem(27)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(59)};
		--sPB: #{rem(65)};
		--sTPB: #{rem(78)};
	}
	& > picture {
		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
	}
	// .section-title{
	// 	h2 {
	// 		font-weight: 400;
	// 		@include media-breakpoint-down(md) {
	// 			font-size: rem(20);
	// 		}
	// 	}
	// }
	.tabs__caption {
		display: flex;
		justify-content: center;
		margin-bottom: rem(40);
		font-weight: 400;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(76);
		}
	}
	.tabs__btn {
		position: relative;
		color: $gray-400;
		font-size: rem(20);
		@include media-breakpoint-up(md) {
			font-size: rem(30);
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(40);
		}
		&::after {
			position: absolute;
			content: '';
			bottom: -12px;
			left: 0;
			width: 100%;
			height: 6px;
			background-color: $gray-400;
		}
		&:not(:last-child) {
			margin-right: rem(80);
		}
		&.active {
			color: $gold;
			&::after {
				background-color: $gold;
			}
		}
	}
	.tabs__content {
		@include media-breakpoint-down(sm) {
			display: block !important;
		}
	}
	&__counter-title {
		margin-bottom: rem(27);
		text-align: center;
		font-size: rem(20);
	}
	&__map {
		position: relative;
		margin: rem(-89px) auto rem(-74.200);
	}
	svg {
		overflow: visible;
    width: calc(100vw - rem(140));
    margin-left: calc(((100vw - 100%) / -2) + rem(70));
		max-width: rem(1440);
		// @media screen and (min-width: 1570px) {
		// 	margin-left: calc(-50% );
    // 	transform: translateX(25%);
		// }
		g {
			&.reg-1, &.reg-2, &.reg-3, &.reg-4, &.reg-5, &.reg-6, &.reg-7, &.reg-8, &.reg-9 {
				&:hover, &.active {
					& > path, .color > path {
						fill: $primary;
						stroke: $primary;
						filter: drop-shadow(0px 0px 13px #D2A35F);
					}
					g {
						opacity: 1;
					}
				}
			}
			&.reg-4 {
				g {
					transform: translate(100px, 599px);
				}
			}
			&.reg-3 {
				transform: translateY(494px) translateX(0px);
				& > g {
					transform: translateX(44px);
				}
			}
			&.reg-7 {
				transform: translate(455px, 204px);
				& > g {
					transform: translate(-455px,-204px);
				}
			}
			&.reg-8 {
				transform: translateX(743px);
				.line-8 {
					transform: translateX(-743px);
				}
			}
			&.reg-9 {
				transform: translateX(12px) translateY(474px);
				& > g {
					transform: translateX(12px);
				}
			}
			g {
				@include mt;
				opacity: 0;
			}
			.color {
				opacity: 1;
			}
		}
		path {
			cursor: pointer;
			@include mt;
		}
	}
	&__count {
		@include roww('3px', '', m);
		display: flex;
		justify-content: center;
		margin-bottom: rem(36);
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(10)};
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(81);
		}
		.number {
			@include rfs(200px);
			color: #D2A35F;
			text-align: center;
			font-weight: 300;
			line-height: 1;
			border-radius: 6px;
			border: 1px solid #D2A35F;
			background-color: #FFF;
			padding: rem(3) rem(3.6);
			@include media-breakpoint-up(sm) {
				padding: rem(20) rem(16.2);
				border-radius: 20px;
			}
			@include media-breakpoint-down(sm) {
				font-size: rem(66);
			}
		}
	}
	&__row{
		// max-width: rem(1076);
		// margin: 0 auto;
		.row {
			--bs-gutter-x: #{rem(18)};
			--bs-gutter-y: #{rem(33)};

			justify-content: center;
			@include media-breakpoint-up(lg) {
				--bs-gutter-y: 0;
			}
			@include media-breakpoint-up(xl) {
				--bs-gutter-x: #{rem(24)};
			}
		}
	}
	&__map-col {
		text-align: center;
	}
	&__col {
		@include media-breakpoint-up(lg) {
			max-width: calc(rem(251) + var(--bs-gutter-x));
		}
	}
	&__item {
		@include mt;
		padding: rem(32) rem(22.079);
		display: flex;
		flex-direction: column;
		height: 100%;
		min-height: rem(216);
		border-radius: 20px;
		border: 1px solid #D2A35F;
		background-color: #FFF;
		box-shadow: 0px 0px 30px 0px rgba(210, 163, 95, 0.25);
		color: #D2A35F;
		position: relative;
		z-index: 1;
		@include media-breakpoint-up(lg) {
			cursor: pointer;
		}
		@include media-breakpoint-up(xl) {
			padding: rem(32) rem(29.007);
			cursor: pointer;
		}
		&:hover, &.active {
			@include media-breakpoint-up(lg) {
				box-shadow: none;
				color: #fff;
				background-color: #D2A35F;
			}
		}
		p {
			font-size: rem(20);
			line-height: 1.35;
			margin-bottom: rem(8);
		}
		span {
			margin-top: auto;
			font-size: rem(20);
			line-height: 1.35;
			font-weight: 700;
		}
		.line {
			position: absolute;
			&--1 {
				top: 100%;
				left: 14%;
			}
		}
	}
	&__top-col {
		@include media-breakpoint-up(lg) {
			max-width: rem(251);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sApplications