extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sApplication/_sApplication.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Подача заявки'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Подача заявки на&nbsp;участие в&nbsp;конкурсе')
		+sApplication2
	//- +parts('footer')