extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sResponse/_sResponse.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Подача заявки'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sResponse('Спасибо Ваша заявка принята!')
	+parts('footer')