extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sRegistration/_sRegistration.pug


block variables
	- let  mainPage= 'registration-page' 
	- let  bg= '03-registration.jpg'

block title
	- let  title= 'Регистрация'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Авторизация или&nbsp;регистрация')
		+sRegistration
	+parts('footer')