extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sRegion/_sRegion.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Регистрация'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Авторизация или&nbsp;регистрация')
		+sRegion
	//- +parts('footer')