extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sCouncil/_sCouncil.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= '06-council.jpg'

block title
	- let  title= 'Наблюдательный совет'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Наблюдательный совет')
		+sCouncil
	//- +parts('footer')