extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sSteps/_sSteps.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= '08-steps.jpg'

block title
	- let  title= 'Этапы премии'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Этапы премии')
		+sSteps
	+parts('footer')