extends ../layout/main.pug

include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= '08-steps.jpg'

block title
	- let  title= 'Новости'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Новости')
		+sContent
	+parts('footer')