extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug

include ../blocks/sApplications/_sApplications.pug
include ../blocks/sNominations/_sNominations.pug
include ../blocks/sAwardStages/_sAwardStages.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sSupervisory/_sSupervisory.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock 
		+sApplications
		+sNominations
		+sAwardStages
		+sNews
		+sSupervisory
	//- +parts('footer')
      



