mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			ul
				mixin li(span, title, color)
					li(style=`--textColor: ${color}`)
						span!= span
						h2!= title
				+li('13 ноября — 13 декабря 2023 г.', 'Подача заявок участниками', '#CBCBCB')
				+li('13 декабря 2023 г.', 'Анализ заявок на&nbsp;соответствие критериям номинаций с&nbsp;применением искусственного интеллекта', '#153C88')
				+li('14 декабря — 18 декабря 2023 г.', 'Экспертиза участниками', '#E42313')
				+li('18 декабря — 24 декабря 2023 г.', 'Экспертный совет,<br>определение ТОП-100', '#E42313')
				+li('25 декабря 2023 г. — 14 января 2024 г.', 'Народное голосование', '#E42313')
				+li('17 января — 19 января 2024 г.', 'Заседание наблюдательного совета', '#E42313')
				+li('30 января / 31 января 2024 г.', 'Объявление победителей и&nbsp;церемония награждения ТОП-30&nbsp;в рамках Всероссийского муниципального форума &laquo;Малая Родина&nbsp;&mdash; сила России&raquo;', '#E42313')
	// end sSteps