mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+e.wrap
				h2 Партнеры номинаций:
				+e.row
					+partnerItem('')
					+partnerItem('sPartners-logo-1.svg')
					+partnerItem('sPartners-logo-2.svg')
					+partnerItem('sPartners-logo-3.svg')
					+partnerItem('sPartners-logo-4.svg')
					+partnerItem('sPartners-logo-5.svg')
					+partnerItem('sPartners-logo-6.svg')
					+partnerItem('sPartners-logo-7.svg')
					+partnerItem('sPartners-logo-8.svg')
					+partnerItem('sPartners-logo-9.svg')
					+partnerItem('sPartners-logo-10.svg')
					+partnerItem('sPartners-logo-11.svg')
					+partnerItem('sPartners-logo-12.svg')
					+partnerItem('sPartners-logo-13.svg')
					+partnerItem('sPartners-logo-14.svg')
					+partnerItem('sPartners-logo-15.svg')
					+partnerItem('sPartners-logo-16.svg')
					+partnerItem('sPartners-logo-17.svg')
					+partnerItem('sPartners-logo-18.svg')
					+partnerItem('sPartners-logo-19.svg')
					+partnerItem('sPartners-logo-20.svg')
					+partnerItem('sPartners-logo-21.svg')
					+partnerItem('sPartners-logo-22.svg')
					+partnerItem()
			+e.wrap
				h2 Информационные партнеры:
				+e.row
					+partnerItem('sPartners-logo-23.png')
					+partnerItem('sPartners-logo-24.svg')
					+partnerItem('sPartners-logo-25.svg')
					+partnerItem('sPartners-logo-26.svg')
					+partnerItem('sPartners-logo-27.svg')
					+partnerItem('sPartners-logo-20.svg')
					+partnerItem('sPartners-logo-28.svg')
					+partnerItem()
					+partnerItem()
					+partnerItem()
					+partnerItem()
					+partnerItem()
	// end sPartners