// start .sPartners
.sPartners {
	--sPT: #{rem(32)};
	--sPB: #{rem(32)};
	--sTPB: #{rem(33)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(64)};
		--sPB: #{rem(64)};
		--sTPB: #{rem(105)};
	}
	.section-title {
		.h6 {
			color: $gold;
		}
	}
	&__row{
		@include roww('8px', '10px', m);
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(10)};
		}
	}
	&__wrap {
		&:not(:last-child) {
			padding-bottom: rem(42);
			margin-bottom: rem(28);
			border-bottom: 1px solid $gold;
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(85);
				margin-bottom: rem(64);
			}
		}
		h2 {
			line-height: 1.25;
			font-weight: 400;
			margin-bottom: rem(30);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(64);
			}
			@include media-breakpoint-down(md) {
				font-size: rem(20);
			}
		}
	}
	.partner-item {
		img{
			@include mt;
			scale: 1;
		}
		&:hover{
			img{
				scale: 1.08;
			}
		}
		--cardCount: 2;

		@include media-breakpoint-up(sm) {
			--cardCount: 3;
		}
		@include media-breakpoint-up(md) {
			--cardCount: 4;
		}
		@include media-breakpoint-up(lg) {
			--cardCount: 6;
		}
	}
	&--2 {
		--sPT: #{rem(34)};
		--sPB: #{rem(34)};
		@include media-breakpoint-up(lg) {
			--sPT: #{rem(103)};
			--sPB: #{rem(105)};
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartners