mixin sCouncil(data)
	// start sCouncil
	+b.SECTION.sCouncil.section#sCouncil&attributes(attributes)
		.container
			mixin item(img, name, text)
				+e.item
					+e.img-wrap: +img(`img/${img}`, 'bg')
					+e.item-wrap
						+e.name!=name
						p!= text
			+e.wrap
				h2 Председатель:
				+e.row.row
					.col-lg-6: +item('sCouncil-img-1.jpg', 'Кириенко С.В.', 'Первый заместитель Руководителя Администрации президента Российской Федерации')
			+e.wrap
				h2 Заместители:
				+e.row.row
					.col-lg-6: +item('sCouncil-img-2.jpg', 'Решетников М.Г.', 'Министр экономического развития Российской Федерации')
					.col-lg-6: +item('sCouncil-img-3.jpg', 'Гусева И.М.', 'Сопредседатель ВАРМСУ, член президиума Совета при Президенте Российской Федерации по&nbsp;развитию местного самоуправления')
			+e.wrap
				h2 Состав:
				+e.row.row
					.col-lg-6: +item('sCouncil-img-4.jpg', 'Патрушев Д.Н.', 'Министр сельского хозяйства Российской Федерации')
					.col-lg-6: +item('sCouncil-img-5.jpg', 'Силуанов А.Г.', 'Министр финансов Российской Федерации')
					.col-lg-6: +item('sCouncil-img-6.jpg', 'Файзуллин И.Э.', 'Министр строительства и&nbsp;жилищно-коммунального хозяйства Российской Федерации')
					.col-lg-6: +item('sCouncil-img-7.jpg', 'Бокерия Л.А', 'Академик, Председатель комиссии Общественной палаты&nbsp;РФ по&nbsp;охране здоровья граждан и&nbsp;развитию здравоохранения, Президент Общероссийской общественной организаци &laquo;Лига здоровья нации&raquo;')
					.col-lg-6: +item('sCouncil-img-8.jpg', 'Гореславский А.С.', 'Генеральный директор АНО &laquo;ИРИ&raquo;')
					.col-lg-6: +item('sCouncil-img-9.jpg', 'Грачев Е.Н.', 'Заместитель начальника Управления Президента Российской Федерации по&nbsp;внутренней политике')
					.col-lg-6: +item('sCouncil-img-10.jpg', 'Древаль М.А.', 'Генеральный директор Российского общества &laquo;Знание&raquo;')
					.col-lg-6: +item('sCouncil-img-11.jpg', 'Калинин А.С.', 'Президент Ассоциации &laquo;НП&nbsp;&laquo;ОПОРА&raquo;')
					.col-lg-6: +item('sCouncil-img-12.jpg', 'Катырин С.Н.', 'Президент торгово-промышленной палаты Российской Федерации')
					.col-lg-6: +item('sCouncil-img-13.jpg', 'Кириенко В.С.', 'Генеральный директор технологической корпорации&nbsp;VK')
					.col-lg-6: +item('sCouncil-img-14.jpg', 'Комиссаров А.Г.', 'Ректор Президентской Академии РАНХиГС, Генеральный директор АНО &laquo;Россия&nbsp;&mdash; страна возможностей&raquo;')
					.col-lg-6: +item('sCouncil-img-15.jpg', 'Кузнецов М.М.', 'Руководитель исполкома &laquo;Общероссийского народного фронта&raquo;')
					.col-lg-6: +item('sCouncil-img-16.jpg', 'Кухарук Р.Н.', 'Глава города Тюмени, сопредседатель ВАРМСУ')
					.col-lg-6: +item('sCouncil-img-17.jpg', 'Макиева И.В.', 'Главный управляющий партнер по&nbsp;городскому развитию ВЭБ.РФ')
					.col-lg-6: +item('sCouncil-img-18.jpg', 'Малявина С.А.', 'Генеральный директор АНО &laquo;Национальные приоритеты&raquo;')
					.col-lg-6: +item('sCouncil-img-19.jpg', 'Метелев А.П.', 'Председатель комитета Государственной Думы Федерального собрания Российской Федерации по&nbsp;молодёжной политике')
					.col-lg-6: +item('sCouncil-img-20.jpg', 'Назаров В.С.', 'Директор Научно-исследовательского финансового института Министерства Финансов Российской Федерации,')
					.col-lg-6: +item('sCouncil-img-21.jpg', 'Плуготаренко С.А.', 'Генеральный директор АНО &laquo;Цифровая экономика&raquo;')
					.col-lg-6: +item('sCouncil-img-22.jpg', 'Разуваева К.Д.', 'Руководитель Федерального агентства по&nbsp;делам молодежи (Росмолодёжь)')
					.col-lg-6: +item('sCouncil-img-23.jpg', 'Табак В.Г.', 'Генеральный директор АНО &laquo;Диалог&raquo; и&nbsp;АНО &laquo;Диалог Регионы&raquo;')
					.col-lg-6: +item('sCouncil-img-24.jpg', 'Цивилева А.Е.', 'Председатель Фонда &laquo;Защитники Отечества&raquo;')
					.col-lg-6: +item('sCouncil-img-25.jpg', 'Шевченко А.А', 'Председатель Комитета Совета Федерации по&nbsp;федеративному устройству, региональной политике, местному самоуправлению и&nbsp;делам Севера, сопредседатель ВАРМСУ')
					.col-lg-6: +item('sCouncil-img-26.jpg', 'Шохин А.Н.', 'Президент Российского союза промышленников и&nbsp;предпринимателей')
	// end sCouncil