mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col.col-lg-auto
					+e.logo(href='/'): +img('img/svg/logo.svg')
				+e.col.col-auto.col-lg.order-lg-0.order-last
					+mnu().d-none.d-lg-flex
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							.row
								.col-md-auto
									+e.logo(href='/'): +img('img/svg/logo.svg')
								+e.inner-col.col-md
									+mnu()
								+e.inner-col.col-md-auto.d-md-none
									+e.btn.btn.btn-secondary(href='#') Подать заявку
									+e.date до 13 декабря
								+e.inner-col.col-md-auto
									+e.lk(href='#'): +icon('lk')
								+e.inner-col--mnu-toggle.col-md-auto
									+menu-toggle()
				.col-md-auto.order-last.order-md-0
					+e.btn.btn.btn-secondary(href='#') Подать заявку
					+e.date до 13 декабря
				.col-auto.d-none.d-md-block: +e.lk(href='#'): +icon('lk')
				.col-auto.ms-auto
					+menu-toggle()
	// end top-nav