// start .sResponse
.sResponse {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	.card {
		text-align: center;
		@include media-breakpoint-up(lg) {
			font-size: rem(25);
		}
	}

	&__heading {
		margin-bottom: 18px;
		color: $gold;
	}

	p:not(.sResponse__heading) {
		margin-bottom: 0;
	}
	
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sResponse